<!DOCTYPE html>
<html>
<head>
<title>rock</title>
</head>
<body>

<h2> We played rock! </h2>
<h2>They played <%= @they %>! </h2>
<h2>We <%= @outcome %> </h2>

<p><a href = "/">Rules</p>

</body>
</html>
